.tile {
  display: grid;
  place-content: center;
  width: 80px;
  height: 80px;
}

.black-tile {
  background-color: #BD874F;
}

.white-tile {
  background-color: #EAC59C;
}

.tile img {
  width: 80px;
}